<div class="container">
<div class="row">
    <div class="col-md-12">
        <h2>Sign up for news letter</h2>
    </div>
</div>
<div class="row">
<div class="col-md-6">
<form name="signUpForm" novalidate>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" ng-model="UserCtrl.UserInformation.FirstName" ng-required="true"/>
      <span class="has-error" ng-show="UserCtrl.Submit && signUpForm.firstName.$error.required">This is a required field.</span>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" ng-model="UserCtrl.UserInformation.LastName" ng-required="true"/>
      <span class="has-error" ng-show="UserCtrl.Submit && signUpForm.lastName.$error.required">This is a required field.</span>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone(+00-000-00000)" ng-model="UserCtrl.UserInformation.Phone" ng-required="true" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" />
      <span class="error" ng-show="signUpForm.phone.$error.pattern">Please match pattern[+00-000-00000].</span>
      <span class="has-error" ng-show="UserCtrl.Submit && signUpForm.phone.$error.required">This is a required field.</span>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" ng-model="UserCtrl.UserInformation.EmailAddress" ng-required="true"/>
      <span class="has-error" ng-show="UserCtrl.Submit && signUpForm.email.$error.required">This is a required field.</span>
    </div>
     <div class="form-group">
      <label for="menushortcode">Menu number of your favorite dish:</label>
      <input type="text" class="form-control" id="menushortcode" name="menushortcode" placeholder="Enter Menu Number" ng-model="UserCtrl.UserInformation.ShortName" ng-required="true" ng-blur="UserCtrl.CheckForValidMenu()"/>
      <span class="has-error" ng-show="UserCtrl.Submit && signUpForm.menushortcode.$error.required">This is a required field.</span>
      <span ng-show="!UserCtrl.IsValidItem">No such menu number exists</span>
    </div>
    <button class="btn btn-default" ng-click="UserCtrl.Submit = true; signUpForm.$valid && UserCtrl.SaveUserInformation()" ng-disabled ="!signUpForm.$valid && UserCtrl.Submit == true">Submit</button>
  </form>
 </div>
</div>
</div>
